<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span><a href="https://goo.gl/maps/ugnn6LVCbJKc2Cex5">Cittadella, Padova, Italy</a></span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:mark.geremia@gmail.com">Mail</a></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span><a href="https://t.me/crimson_fourier">Telegram</a></span></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://xomcar.github.io/">Website</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/xomcar/">Linkedin</a></li>
    <li><span class="li-icon">{% include svg/github.svg %}</span><a href="https://github.com/xomcar">Github</a></li>
    <!-- <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://cvless.netlify.app</a></li> -->
  </ul>
</div>
